.App {
  text-align: center;
}


#cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}

#cardGallery li {
  list-style-type: none;
}

.card {
  width: 300px;
}

.cardInfo {
  margin: 50px auto;
  padding: 20px;
  width: 75%;
  border: 2px solid black;
  display: flex;
}

#artist {
  margin: 0;
}

#cardDescription{
  width: 75%;
  padding-left: 100px;
  text-align: left;
}

.feature{
  font-weight: bold;
}