.App {
  text-align: center;
}


#cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}

#cardGallery li {
  list-style-type: none;
}